@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "../../../Modules.Shared/Views/Layouts/_Layout.cshtml";
}

<link rel="stylesheet" href="~/fileManager/css/core.bundle.css" asp-append-version="true" type="text/css">
<link rel="stylesheet" href="~/fileManager/css/vendor.bundle.css" asp-append-version="true" type="text/css">
<link rel="stylesheet" href="~/fileManager/css/styles.bundle.css">


<h1> Module File Xin Chào</h1>
<div id="app"></div>

@section Scripts{
    <script type="text/javascript" src="~/fileManager/js/runtime.bundle.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/fileManager/js/core.bundle.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/fileManager/js/vendor.bundle.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/fileManager/js/home-index.bundle.js" asp-append-version="true"></script>
}