@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "../../../Modules.Shared/Views/Layouts/_Layout.cshtml";
}

<link rel="stylesheet" href="~/account/css/core.bundle.css" asp-append-version="true" type="text/css">
<link rel="stylesheet" href="~/account/css/vendor.bundle.css" asp-append-version="true" type="text/css">
<link rel="stylesheet" href="~/account/css/styles.bundle.css"  asp-append-version="true" type="text/css">


<h1 class="title"> Module Account Xin Chào</h1>
<div id="app"></div>

@section Scripts{
    <script type="text/javascript" src="~/account/js/runtime.bundle.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/account/js/core.bundle.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/account/js/vendor.bundle.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/account/js/styles.bundle.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/account/js/layout-container.bundle.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/account/js/pages_home_index_vue.bundle.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/account/js/main.bundle.js" asp-append-version="true"></script>
}