@{
    Layout = "../../../Modules.Shared/Views/Layouts/_Layout.cshtml";
}

<h1> Module Account Xin Chào</h1>
@section Scripts{
    <script type="text/javascript" src="~/js/student-index.bundle.js" asp-append-version="true"></script>
}